n8n-jesus-ot-reflection-workflow.json
{
  "name": "Jesus in OT - Reflection Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "jesus-in-ot-reflection",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "056f420a-2cbf-4afc-835d-7b509d4dadbd",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "webhookId": "jesus-ot-reflection"
    },
    {
      "parameters": {
        "jsCode": "\n  // Extract reflection text from Groq response\n  const groqOutput = $input.item.json;\n  let reflectionText = '';\n\n  // Log for debugging\n  console.log('Groq output:', JSON.stringify(groqOutput, null, 2));\n\n  // Try multiple possible locations for the generated text\n  if (groqOutput.message?.content) {\n    reflectionText = groqOutput.message.content;\n    console.log('Found in message.content');\n  } else if (groqOutput.content) {\n    reflectionText = groqOutput.content;\n    console.log('Found in content');\n  } else if (groqOutput.text) {\n    reflectionText = groqOutput.text;\n    console.log('Found in text');\n  } else if (groqOutput.output) {\n    reflectionText = groqOutput.output;\n    console.log('Found in output');\n  } else if (typeof groqOutput === 'string') {\n    reflectionText = groqOutput;\n    console.log('Found as string');\n  } else {\n    // Fallback\n    console.log('Using fallback - no Groq output found');\n    const entry = $('Webhook').first().json.body;\n    reflectionText = `This passage reveals Jesus Christ in a profound way. ${entry.howItPointsToJesus} As we contemplate this Old Testament text, we see how God was preparing His people for the coming of the Messiah. May this deepen your love for Sacred Scripture and for Jesus, the Word made flesh.`;\n  }\n\n  console.log('Final reflection:', reflectionText);\n\n  return {\n    reflectionText: reflectionText.trim(),\n    audioUrl: null\n  };\n"
      },
      "id": "5b73232b-a276-4c66-8278-d136c9c7d963",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "9d1024ad-b394-42b6-b489-46754401ef4e",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        800,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a thoughtful 2-3 minute reflection (250-350 words) on how this Old Testament passage points to Jesus Christ.\n\nPASSAGE DETAILS:\n- Title: {{ $json.body.title }}\n- Reference: {{ $json.body.reference }}\n- Scripture Text: {{ $json.body.otText }}\n- Historical Context: {{ $json.body.historicalContext }}\n- How It Points to Jesus: {{ $json.body.howItPointsToJesus }}\n\nYOUR REFLECTION SHOULD:\n\n1. BEGIN WITH WONDER (30-40 words)\n   - Open with awe at God's providence in revealing Christ throughout Scripture\n   - Example: \"How marvelous is God's providence that even in the moment of humanity's greatest tragedy—the Fall—He already spoke His first word of hope.\"\n\n2. EXPLAIN THE TYPOLOGY/PROPHECY (80-120 words)\n   - Explain how this OT passage prefigures or prophesies Christ\n   - Use accessible, beautiful language (not academic jargon)\n   - Show the connection clearly\n   - Example: \"This promise, the Protoevangelium or 'first gospel,' reveals that God would not abandon us to sin and death. Notice the woman mentioned here: not just Eve, but prefiguring Mary, the New Eve...\"\n\n3. CONNECT TO CATHOLIC LIFE (60-80 words)\n   - Link to the Mass, sacraments, or Catholic devotional life\n   - Show how this deepens our understanding of Jesus\n   - Example: \"At every Mass, we witness this victory made present again. The same Jesus who crushed Satan's power is truly present in the Eucharist, offering you His victory over sin and death.\"\n\n4. END WITH INVITATION (30-40 words)\n   - Practical invitation to encounter Jesus today through this truth\n   - Personal and encouraging\n   - Example: \"Today, as you face temptation or struggle, remember: the battle is already won. Christ has conquered, and in Him, you too can triumph.\"\n\nGUIDELINES:\n- Total: 250-350 words (2-3 minutes spoken)\n- Use \"you\" and \"we\" to make it personal and engaging\n- Reverent but warm tone - like a beloved priest giving a homily\n- Write for everyday Catholics (avoid academic jargon)\n- Let the beauty and depth of Catholic theology shine through\n- Focus on Jesus - how this passage reveals Him and draws us closer to Him\n\nGenerate the reflection now:",
        "options": {
          "systemMessage": "You are a warm, reverent Catholic theologian and spiritual guide. Your role is to help the faithful encounter Jesus Christ in the Old Testament through thoughtful, accessible reflections that connect ancient Scripture to modern Catholic life. You speak with the wisdom of the Church Fathers, the clarity of the Catechism, and the heart of a pastor who loves souls. Your reflections illuminate how the Old Testament prepares for and reveals Christ, helping believers see the unity of God's plan of salvation across both Testaments."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "d598dfeb-477c-4c03-aa02-debe03ac8eea",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "f40c4124-01ec-4a77-a7f5-00eecc76ba00",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "uDN6zqxy0IeLRvv5",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0b18f8cd-0041-48d3-934b-a4eee0c959fa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "211813b0385f2df04c23255446da90fed616c1b12356537023b4828b9a06f80a"
  },
  "tags": []
}
